.navbar {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 auto;
  background-color: #032541;
  .logo {
    display: flex;
    align-items: center;
    h2 a {
      display: flex;
      align-items: center;
      font-size: 2.2rem;
      text-decoration: none;
      color: #fff;

      svg {
        margin-right: 0.5rem;
      }
    }
    .theme {
      display: flex;
      margin-left: 1rem;
      font-size: 2rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
      svg {
        color: #fff;
      }
    }
  }

  form {
    display: flex;
    gap: 0.5rem;

    input {
      padding: 0.5rem 5rem;
      border: none;
      border-radius: 5px;
    }

    button {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      border-radius: 5px;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
@media (max-width: 420px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: auto;
    .logo {
      padding: 0.5rem;
    }
  }
}
