.navbar {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 auto;
  background-color: #032541;

  .logo h2 a {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    text-decoration: none;
    color: #fff;

    svg {
      margin-right: 0.5rem;
    }
  }

  form {
    display: flex;
    gap: 0.5rem;

    input {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
    }

    button {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      border-radius: 5px;
      font-size: 1.5rem;
      color: #17191f;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
