@import '../../Themes/colors.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: $backgroundL;

  p {
    font-size: 2rem;
    color: $white;
  }
}
